<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupName</key>
		<string>一人嗨</string>
		<key>groupMembers</key>
		<array>
			<dict>
				<key>itemName</key>
				<string>古诗词</string>
				<key>items</key>
				<array>
					<dict>
						<key>musicName</key>
						<string>三字经</string>
						<key>musicCommand</key>
						<dict>
							<key>fCommand</key>
							<string>1</string>
							<key>sCommand</key>
							<string>0</string>
						</dict>
					</dict>
					<dict>
						<key>musicName</key>
						<string>咏鹅</string>
						<key>musicCommand</key>
						<dict>
							<key>fCommand</key>
							<string>1</string>
							<key>sCommand</key>
							<string>1</string>
						</dict>
					</dict>
					<dict>
						<key>musicName</key>
						<string>悯农</string>
						<key>musicCommand</key>
						<dict>
							<key>fCommand</key>
							<string>1</string>
							<key>sCommand</key>
							<string>2</string>
						</dict>
					</dict>
					<dict>
						<key>musicName</key>
						<string>春晓</string>
						<key>musicCommand</key>
						<dict>
							<key>fCommand</key>
							<string>1</string>
							<key>sCommand</key>
							<string>3</string>
						</dict>
					</dict>
					<dict>
						<key>musicName</key>
						<string>静夜思</string>
						<key>musicCommand</key>
						<dict>
							<key>fCommand</key>
							<string>1</string>
							<key>sCommand</key>
							<string>4</string>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>文言文</string>
				<key>items</key>
				<array>
					<dict>
						<key>musicName</key>
						<string>三字经</string>
						<key>musicCommand</key>
						<dict>
							<key>fCommand</key>
							<string>1</string>
							<key>sCommand</key>
							<string>0</string>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>儿歌故事</string>
				<key>items</key>
				<array>
					<dict>
						<key>musicName</key>
						<string>咏鹅</string>
						<key>musicCommand</key>
						<dict>
							<key>fCommand</key>
							<string>1</string>
							<key>sCommand</key>
							<string>1</string>
						</dict>
					</dict>
					<dict>
						<key>musicName</key>
						<string>悯农</string>
						<key>musicCommand</key>
						<dict>
							<key>fCommand</key>
							<string>1</string>
							<key>sCommand</key>
							<string>2</string>
						</dict>
					</dict>
					<dict>
						<key>musicName</key>
						<string>春晓</string>
						<key>musicCommand</key>
						<dict>
							<key>fCommand</key>
							<string>1</string>
							<key>sCommand</key>
							<string>3</string>
						</dict>
					</dict>
					<dict>
						<key>musicName</key>
						<string>静夜思</string>
						<key>musicCommand</key>
						<dict>
							<key>fCommand</key>
							<string>1</string>
							<key>sCommand</key>
							<string>4</string>
						</dict>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupName</key>
		<string>成双成对</string>
		<key>groupMembers</key>
		<array>
			<dict>
				<key>musicName</key>
				<string>你好</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>musicName</key>
				<string>恭喜发财</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>1</string>
				</dict>
			</dict>
			<dict>
				<key>musicName</key>
				<string>吃了吗</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>2</string>
				</dict>
			</dict>
			<dict>
				<key>musicName</key>
				<string>你好乖乖哦</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>3</string>
				</dict>
			</dict>
			<dict>
				<key>musicName</key>
				<string>别喂我了</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>musicName</key>
				<string>抱抱我</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>5</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupName</key>
		<string>三妻四妾</string>
		<key>groupMembers</key>
		<array>
			<dict>
				<key>musicName</key>
				<string>你今天狠靓哦</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>6</string>
				</dict>
			</dict>
			<dict>
				<key>musicName</key>
				<string>我今天有空，约吗</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>7</string>
				</dict>
			</dict>
			<dict>
				<key>musicName</key>
				<string>天天运动，身体好</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>8</string>
				</dict>
			</dict>
			<dict>
				<key>musicName</key>
				<string>吃得太饱了</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>9</string>
				</dict>
			</dict>
			<dict>
				<key>musicName</key>
				<string>我爱你</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>10</string>
				</dict>
			</dict>
			<dict>
				<key>musicName</key>
				<string>别理我，烦着</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>11</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
