<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupName</key>
		<string>第一分区</string>
		<key>groupMembers</key>
		<array>
			<dict>
				<key>itemName</key>
				<string>item1</string>
				<key>items</key>
				<array>
					<dict>
						<key>musicName</key>
						<string>item1</string>
						<key>musicCommand</key>
						<dict>
							<key>fCommand</key>
							<string>1</string>
							<key>sCommand</key>
							<string>0</string>
						</dict>
					</dict>
					<dict>
						<key>musicName</key>
						<string>item2</string>
						<key>musicCommand</key>
						<dict>
							<key>fCommand</key>
							<string>1</string>
							<key>sCommand</key>
							<string>1</string>
						</dict>
					</dict>
					<dict>
						<key>musicName</key>
						<string>item3</string>
						<key>musicCommand</key>
						<dict>
							<key>fCommand</key>
							<string>1</string>
							<key>sCommand</key>
							<string>2</string>
						</dict>
					</dict>
					<dict>
						<key>musicName</key>
						<string>item4</string>
						<key>musicCommand</key>
						<dict>
							<key>fCommand</key>
							<string>1</string>
							<key>sCommand</key>
							<string>3</string>
						</dict>
					</dict>
					<dict>
						<key>musicName</key>
						<string>item5</string>
						<key>musicCommand</key>
						<dict>
							<key>fCommand</key>
							<string>1</string>
							<key>sCommand</key>
							<string>4</string>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>item2</string>
				<key>items</key>
				<array>
					<dict>
						<key>musicName</key>
						<string>item1</string>
						<key>musicCommand</key>
						<dict>
							<key>fCommand</key>
							<string>1</string>
							<key>sCommand</key>
							<string>0</string>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>item3</string>
				<key>items</key>
				<array>
					<dict>
						<key>musicName</key>
						<string>item1</string>
						<key>musicCommand</key>
						<dict>
							<key>fCommand</key>
							<string>1</string>
							<key>sCommand</key>
							<string>1</string>
						</dict>
					</dict>
					<dict>
						<key>musicName</key>
						<string>item2</string>
						<key>musicCommand</key>
						<dict>
							<key>fCommand</key>
							<string>1</string>
							<key>sCommand</key>
							<string>2</string>
						</dict>
					</dict>
					<dict>
						<key>musicName</key>
						<string>item3</string>
						<key>musicCommand</key>
						<dict>
							<key>fCommand</key>
							<string>1</string>
							<key>sCommand</key>
							<string>3</string>
						</dict>
					</dict>
					<dict>
						<key>musicName</key>
						<string>item4</string>
						<key>musicCommand</key>
						<dict>
							<key>fCommand</key>
							<string>1</string>
							<key>sCommand</key>
							<string>4</string>
						</dict>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupName</key>
		<string>第二分区</string>
		<key>groupMembers</key>
		<array>
			<dict>
				<key>musicName</key>
				<string>item1</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>musicName</key>
				<string>item2</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>1</string>
				</dict>
			</dict>
			<dict>
				<key>musicName</key>
				<string>item3</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>2</string>
				</dict>
			</dict>
			<dict>
				<key>musicName</key>
				<string>item4</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>3</string>
				</dict>
			</dict>
			<dict>
				<key>musicName</key>
				<string>item5</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>4</string>
				</dict>
			</dict>
			<dict>
				<key>musicName</key>
				<string>item6</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>5</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupName</key>
		<string>第三分区</string>
		<key>groupMembers</key>
		<array>
			<dict>
				<key>musicName</key>
				<string>item1</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>6</string>
				</dict>
			</dict>
			<dict>
				<key>musicName</key>
				<string>item2</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>7</string>
				</dict>
			</dict>
			<dict>
				<key>musicName</key>
				<string>item3</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>8</string>
				</dict>
			</dict>
			<dict>
				<key>musicName</key>
				<string>item4</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>9</string>
				</dict>
			</dict>
			<dict>
				<key>musicName</key>
				<string>item5</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>10</string>
				</dict>
			</dict>
			<dict>
				<key>musicName</key>
				<string>item6</string>
				<key>musicCommand</key>
				<dict>
					<key>fCommand</key>
					<string>10</string>
					<key>sCommand</key>
					<string>11</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
